.appointment-list
  mat-card
    margin: 10px

  mat-spinner
    display: inline-block

  .success
    color: green

  .error
    color: red

  button.edit
    position: absolute
    right: 15px

  button.delete
    position: absolute
    bottom: 15px
    right: 15px

.clearfix::after
  content: ''
  clear: both
  display: table

.time-wrapper .mat-checkbox
  width: 112px
  height: 38px
  float: left

.appointment-settings
  padding-left: 15px
  margin-top: 20px

.appointment-settings .timezone-select
  margin-left: 15px
  margin-right: 15px
  min-width: 150px

.appointment-ticker
  width: 100%
  text-align: center
  padding-top: 20px
  padding-bottom: 10px

button[type="submit"]
  margin-left: 10px