<mat-card *ngIf="profile">

  <form (submit)="save()" #profileForm="ngForm">

    <user-form [(model)]="profile"></user-form>

    <p>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="loading || !profileForm.form.valid"
      >
        <mat-spinner *ngIf="loading" [diameter]="22" [strokeWidth]="2" class="in-button-spinner"></mat-spinner>
        Update profile
      </button>
      <button
        type="button"
        mat-button
        color="warn"
        (click)="deleteAccount()"
      >
        Delete my account
      </button>
    </p>
  </form>
</mat-card>

<mat-card *ngIf="!profile" class="loader">
  <mat-spinner></mat-spinner> Loading profile...
</mat-card>
