mat-card
  width: 50%
  margin: 0 auto
  text-align: center

mat-form-field
  min-width: 200px

[matPrefix]
  opacity: .5

form
  margin-top: 50px

.primary-card
  background: #009688
  color: white
  font-weight: 300
  font-size: 12px

.primary-card a
  color: white
  font-weight: bold
  text-decoration: none

.href
  color: blue
  text-decoration: underline
  cursor: pointer

.small-footer > a
  font-size: 10px
  font-weight: bold
  text-transform: uppercase
  text-decoration: none
  color: #009688

@media screen and (max-width: 480px)
  mat-card
    width: auto

  form
    margin-top: 0
