<mat-card>
  <div class="center" *ngIf="(activeMeditationsTop$| async)?.length as activeTopLen">
    <h2>Meditating ({{activeTopLen}})</h2>

    <div class="center avatar-circle" >
        <div *ngFor="let meditation of (activeMeditationsTop$ | async); let i = index; " [attr.data-index]="i"
        class="item"
        [ngStyle]="{'transform': 'rotate(' + (i * 360/activeTopLen + 270) + 'deg) translate(' + (160 + 10*((activeTopLen > 4) && (activeTopLen - 4) || 0 ) ) + 'px) rotate(-' + (i * 360/activeTopLen + 270) + 'deg)' }"
        >
          <div class="wrapper">
              <img
              class="small-profile-img"
              mat-list-avatar
              avatar
              [username]="meditation.user.username"
              [token]="meditation.user.avatarImageToken"
              [size]="160"
            >
            <div class="meditation-name">{{ meditation.user.name }}</div>
          </div>
        </div>
    </div>

    <span class="time-left">
      {{ (ownSession$ | async) | timeLeft: 'both':true}}
    </span>

    <div
      class="status"
      [class.status-single]="!(ownSession$ | async).walking || !(ownSession$ | async).sitting"
    >
      <div [class.no-padding]="!(ownSession$ | async).sitting" class="walking" *ngIf="(ownSession$ | async).walking">
        <mat-progress-spinner
          mode="determinate"
          [class.inactive]="!(ownSession$ | async).walkingLeft"
          [value]="(ownSession$ | async) | timeLeft: 'walking'"
          #progressWalking
        >
        </mat-progress-spinner>

        <div class="progress">
          <mat-icon>
            directions_walk
          </mat-icon>
        </div>

        <span class="time-done" *ngIf="(ownSession$ | async).sitting">
          {{ (ownSession$ | async) | timeLeft: 'walking':true}} left
        </span>
      </div>

      <div [class.no-padding]="!(ownSession$ | async).walking" class="sitting" *ngIf="(ownSession$ | async).sitting">
        <mat-progress-spinner
          mode="determinate"
          [class.inactive]="!(ownSession$ | async).sittingLeft"
          [value]="(ownSession$ | async) | timeLeft: 'sitting'"
          #progressSitting
        >
        </mat-progress-spinner>

        <div class="progress">
          <img src="/assets/img/sitting.svg">
        </div>

        <span class="time-done" *ngIf="(ownSession$ | async).walking">
          {{ (ownSession$ | async) | timeLeft: 'sitting':true}} left
        </span>
      </div>
    </div>

    <div *ngIf="(ownSession$ | async).walkingLeft == (ownSession$ | async).walking && (ownSession$ | async).sittingLeft == (ownSession$ | async).sitting">
      <i class="e1a-pray"></i><br>
      Have a good session.
    </div>

    <p><button mat-raised-button (click)="stop()">FINISH EARLY</button></p>
  </div>

  <mat-list class="meditations">
    <div *ngFor="let meditation of (activeMeditationsRest$ | async)" class="meditation-row">
        <mat-list-item>
            <img
              mat-list-avatar
              avatar
              [username]="meditation.user.username"
              [token]="meditation.user.avatarImageToken"
              [size]="80"
            >
            <h3 mat-line>
              <b class="meditation-name">{{ meditation.user.name }}</b>

              <span class="fill"></span>
              <span
                class="meditation-time"
                *ngIf="meditation.walkingLeft + meditation.sittingLeft > 0"
              >
                {{ meditation.walkingLeft + meditation.sittingLeft }}m left
              </span>
            </h3>
            <p mat-line>
              <span class="meditation-text">
                walking
                {{ meditation.walking }}m,

                sitting
                {{ meditation.sitting }}m
              </span>
            </p>
        </mat-list-item>
      <mat-divider class="meditation-divider"></mat-divider>
    </div>
  </mat-list>
</mat-card>
